*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('image/heather-barnes-gCmkY_c5lTg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------header---------- */
.busi h1{
    font-size: 65px;
    font-weight: 100;
}
.navbar{
    background: #490909;
    margin-top: 5%;
}


.navbar-nav li a{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
/* --------header---------- */

/* --------HOME------------ */

.home{
    margin-top: 5%;
}
.free{
    background: #F6E1C5;
    height: 380px;
    width: 500px;
    top: 45px;
    left: 100px;
}

.free h2{
    color: black;
    font-weight: 700;
    margin-top: 15%;
}

.free h3{
    font-size: 45px;
    font-weight: 100;
}

.free p{
    font-weight: 100;
}

.btn{
    position: relative;
    top: 5%;
    left: 40%;

}
.image img{
    min-height: 480px;
}

#prom{
    background: #A5342BB0 69%;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.promis{
    background: #F6E1C5;
    padding: 10%;
}

.tire{
    border: 1px solid #fff;
    padding: 10px  ;
}

.promis h2{
    color: black;
    font-weight: 700;
    margin-top: 2%;
}

.promis h3{
    font-size: 55px;
    font-weight: 100;
}

.promis p{
    width: 45%;
    margin-left: 27%;
    text-align: center;
}

.footer{
    background: #311919 79%;
    margin-top: 10%;
}

/* ------------SECTION ABOUT----------- */
.about-1{
    background: #F6E1C5;
    /* padding: 3% 2%; */
    top: -45px;
}

.about-1 h2{
    font-size: 15px;
}

.about-1 p{
    font-size: 15px;
}

/* -------------SECTION PRODUCT----------- */
#section1, #section2, #section3{ 
    margin-top: 100px; 
    margin-bottom: 100px; 
    width: 100%;
}
/* .image{ max-width: 844px; height: 604px;} */

#section1 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;
}
#section2 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;
}
#section3 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;}
.box-top .p1{ 
    font-size: 15px; 
    font-weight: 600; 
    color: #000000;}
.box-top .p2{ 
    font-size: 36px; 
    font-weight: 100; 
    color: #000000;
}

#section1 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
}
#section2 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;}
#section3 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
}
.box-bottom p{ 
    font-size: 18px; 
    font-weight: 400; 
    color: #000000;}


/* -------------STORE------------ */
.store{
    background: #A5342BB0 69%;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* .store{ 
    margin-top: 200px; 
    margin-bottom: 200px; 
    width: 100%; 
    padding-bottom: 74px; 
    padding-top: 74px;
    background: rgba(165, 52, 43, 0.69);
} */

@media screen and (max-width:  778px){
    .busi{
        display: none;
    }
    
    .rever{
        display: flex;
        flex-direction: column-reverse;
    }

    .free{
        padding: 3px;
        left: -2%;
    }

    #prom{
        margin-top: 20%;
    }

    .promis{
        padding: 1px;
    }

    .btn{
        left: 30%;
    }

    .about-1{
        padding: 3px;
        top: 15px;
    }

    #section1 .box-top{
        width: 100%;
        text-align: center;
        bottom: 10px;
    }

    #section2 .box-top{
        width: auto;
        text-align: center;
        bottom: 10px;
    }

    #section3 .box-top{
        width: 100%;
        text-align: center;
        bottom: 10px;
    }
    #section1 .box-bottom{
        top: 10px;
    }
    #section2 .box-bottom{
        top: 10px;
    }
    #section3 .box-bottom{
        top: 10px;
    }
    .box-top .p1{
        font-size: medium;
    }
    .box-top .p2{
        font-size: large;
        text-align: center;
    }
    .box-bottom p{
        font-size: 16px;
        font-weight: 400;
        width: max-content;
    }
}