*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('image/heather-barnes-gCmkY_c5lTg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* --------header---------- */
.busi h1{
    font-size: 65px;
    font-weight: 100;
}
.navbar{
    background: #490909;
    margin-top: 5%;
}

.navbar-nav li a{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.fa-bars{
    color: #fff; 
    font-size: 20px !important; 
    font-weight: bold;
}
/* --------header---------- */

/* --------HOME------------ */

#home{ 
    margin-top: 100px; 
    margin-bottom: 100px;
}

#home .two{ 
    background: #F6E1C5; 
    min-height: 300px; 
    width: 450px; 
    border-radius: 5px; 
    left: 10%;
}

#home .two h3{ 
    font-size: 15px; 
    font-weight: 700;
    padding-top: 50px;
}

#home .two h4{ 
    font-size: 32px;
    font-weight: 100;
}

#home .two p{ 
    font-size: 16px; 
    font-weight: 400;
}
#home .two button{ 
    width: 150px; 
    height: 58px; 
    background: #7B261A; 
    border: none; 
    border-radius: 5px;
    font-size: 15px; 
    font-weight: 700; 
    color: white; 
    margin-top: 15px;
}

#home img{ 
    max-width: 750px; 
    height: 450px;
}

#home2{ 
    width: 100%; 
    background: rgba(165, 52, 43, 0.69); 
    height: 535px; padding-top: 80px;
}

#home2 .box{ 
    height: 353px; 
    max-width: 873px; 
    border-radius: 5px; 
    background: #F6E1C5; 
    margin: 10px;
    padding-left: 40px; 
    padding-right: 40px;
}

#home2 .bordure{ 
    border: 1px solid #F6E1C5; 
    border-radius: 5px; 
    margin-top: 82px; 
    margin-bottom: 102px;
    max-width: max-content; 
    margin: auto;
}

#home2 .box h2{ 
    font-size: 15px; 
    font-weight: 700; 
    padding-top: 55px;
}

#home2 .box h3{ 
    font-size: 32px; 
    font-weight: 100;
}

#home2 .box p{ 
    font-size: 16px; 
    font-weight: 400;
}


@media screen and (max-width:768px) {
    #header{ 
        position: fixed; 
        top: 0; 
        z-index: 10; 
        width: 100%;
    }
        
    #home .two{
        left: 0;
        margin: auto;
        order: 2;
        height: 350px;
    }
        
    #home img{
        height: auto;
        order: 1;
        margin-bottom: 10px;
    }

    #home2 .box p{ 
        padding-bottom: 20px;
    }
        
    }
@media screen and (max-width:550px) {
    
    #home .two{
        width: max-content;  
    }

    #home .accueil{
         min-width: 300px;
    }

    #home .two button{
        bottom: 0;
    }

    #home2 .box{
        height: max-content;
    }
}
    
@media screen and (max-width:1200px) and (min-width:768px) {
        
    #home .two{
        left: 0;
        margin: auto;
        align-self: center;
    }

    #home img{
        height: 576.04px;
        width: 764px;
        margin: auto;
    }

    #home .accueil{
        width: 764px;
        margin: auto;
    }
        
}



.footer{
    background: #311919 79%;
    margin-top: 10%;
}

/* ------------SECTION ABOUT----------- */
.about-1{
    background: #F6E1C5;
    /* padding: 3% 2%; */
    top: -45px;
}

.about-1 h2{
    font-size: 15px;
}

.about-1 p{
    font-size: 15px;
}

/* -------------SECTION PRODUCT----------- */
#section1, #section2, #section3{ 
    margin-top: 100px; 
    margin-bottom: 100px; 
    width: 100%;
}
/* .image{ max-width: 844px; height: 604px;} */

#section1 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;
}
#section2 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;
}
#section3 .box-top{ 
    max-width: 413px; 
    min-height: 150px; 
    background: #F6E1C5; 
    padding-top: 39px;
    padding-bottom: 39px; 
    border-radius: 5px; 
    width: max-content; 
    position: relative; 
    bottom: -80px;}
.box-top .p1{ 
    font-size: 15px; 
    font-weight: 600; 
    color: #000000;}
.box-top .p2{ 
    font-size: 36px; 
    font-weight: 100; 
    color: #000000;
}

#section1 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
}
#section2 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;}
#section3 .box-bottom{ 
    max-width: 430px; 
    min-height: 189px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    position: relative; 
    top: -80px; 
    background: #F6E1C5; 
    border-radius: 5px;
}
.box-bottom p{ 
    font-size: 18px; 
    font-weight: 400; 
    color: #000000;}


/* -------------STORE------------ */
#section1{ 
    margin-top: 200px; 
    margin-bottom: 200px; 
    width: 100%; 
    padding-bottom: 74px; 
    padding-top: 74px;
    background: rgba(165, 52, 43, 0.69);
}
.fa-bars{
    color: #fff; 
    font-size: 20px !important; 
    font-weight: bold;
}
.border_box{ 
    padding: 12px; 
    border: 1px solid #CD5449;
}

.table_box{ 
    background: #F6E1C5; 
    padding-left: 100px; 
    padding-right: 100px; 
    padding-top: 52px;
    padding-bottom: 52px;
}

.table_box h2{ 
    font-size: 18px; 
    font-weight: 600; 
    color: #000000;
}
.table_box h4{ 
    font-size: 48px; 
    font-weight: 100; 
    color: #000000;
}

.table_box h6{
     font-size: 15px; 
     font-weight: 400; 
     color: #000000;
    }

table{ 
    color: black; 
    border-color: #1b1b1b;
}
.table td{ 
    font-size: 18px; 
    font-weight: 300; 
    color: #000000;
    
}

.table-box-foot{ 
    padding-top: 65px;
}

.thursday{ 
    color: #A5342B;
}


@media screen and (max-width:768px) {
    #header{ position: fixed; top: 0; z-index: 10; width: 100%;}
    .table_box{
        padding-left: 0;
        padding-right: 0;
    }
    #section1{
        margin-bottom: 100px;
    }
    #section2 .box{
        top: 15px;
    } 
}

@media screen and (max-width:  778px){
    .busi{
        display: none;
    }
    
    .rever{
        display: flex;
        flex-direction: column-reverse;
    }

    .free{
        padding: 3px;
        left: -2%;
    }

    #prom{
        margin-top: 20%;
    }

    .promis{
        padding: 1px;
    }

    .btn{
        left: 30%;
    }

    .about-1{
        padding: 3px;
        top: 15px;
    }

    #section1 .box-top{
        width: 100%;
        text-align: center;
        bottom: 10px;
    }

    #section2 .box-top{
        width: auto;
        text-align: center;
        bottom: 10px;
    }

    #section3 .box-top{
        width: 100%;
        text-align: center;
        bottom: 10px;
    }

    #section1 .box-bottom{
        top: 10px;
    }

    #section2 .box-bottom{
        top: 10px;
    }

    #section3 .box-bottom{
        top: 10px;
    }

    .box-top .p1{
        font-size: medium;
    }

    .box-top .p2{
        font-size: large;
        text-align: center;
    }
    
    .box-bottom p{
        font-size: 16px;
        font-weight: 400;
        width: max-content;
    }
}